<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a post</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    
<div class="parent2">
    <div class="div1">
        <a href="/home" style="cursor: pointer;">Back to List</a>
        <h1>Edit <%= book.title %></h1>
    </div>
    
    <div class="div3">
        <form action="/editbook/<%= book.id %>" method="post">
            <table id="data">
                <tbody>
                <tr>
                    <td style="width: 200px;">Title:</td>
                    <td><input name="title" value="<%= book.title %>" type="text"></td>
                </tr>
                <tr>
                    <td>Author:</td>
                    <td><input name="author" value="<%= book.author %>" type="text"></td>
                </tr>
                <tr>
                    <td>Rating:</td>
                    <td><input name="rating" value="<%= book.rating %>" type="number"></td>
                </tr>
                <tr>
                    <td>Notes:</td>
                    <td><textarea name="notes" id=""></textarea></td>
                </tr>
                </tbody>
            </table>
            <button style="cursor:pointer" type="submit">Edit Book</button>
        </form>
        
    </div>
    
</div>
<!-- Footer -->
    <footer class="footer">
  <p>© 2025 Drishti Gautam. All rights reserved.</p>
</footer>
</body>
</html>